<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="arfmathProject.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="arfmathProject.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <arfmathProject.Properties.Settings1>
            <setting name="islem" serializeAs="String">
                <value />
            </setting>
            <setting name="zorluk" serializeAs="String">
                <value />
            </setting>
        </arfmathProject.Properties.Settings1>
        <arfmathProject.Settings1>
            <setting name="islem" serializeAs="String">
                <value />
            </setting>
        </arfmathProject.Settings1>
    </userSettings>
</configuration>